body{background:#CC66FF;}
#fig{ width: 100%; height: 90px; background: #0066FF; font-size: 3em; font-family: sans-serif; padding: 45px 10px 40px 10px;}
#intro{width: 50%; background:#CC3366; padding: 15px 10px 60px 10px; font-family: sans-serif;}
#visual {width: 40%; float:right;}
#hi{padding-bottom: 25px;}
